/* ----------------------------------------------- Home Page Style ---------------------------------- */

 .bg {
  background-image: url("../public/home.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}