/* ----------------------------------------------- Home Page Style ---------------------------------- */
 .bg {
  background-image: url("assets/images/2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }