/**************************NavBar****************************/

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.form-rounded {
  border-radius: 1rem;
}
.font-size {
  font-size: 2rem;
}
.btn-logOut {
  height: 5rem;
}
.navbar {
  width: 100%;
}
.nav-shadow {
  box-shadow: 2px 2px 5px 8px #ededed;
}
/*************************/
.custom-nav-link,
.custom-nav-link:after,
.custom-nav-link:before {
  transition: all 0.5s;
  position: relative;
}
.custom-nav-link:hover {
  color: #555;
}
.custom-nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.custom-nav-link {
  transition: all 2s;
}

.custom-nav-link:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.custom-nav-link:hover {
  color: #fff;
  z-index: 1;
}
.custom-nav-link:hover:after {
  z-index: -10;
  animation: fill 0.5s forwards;
  opacity: 1;
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: rgb(255, 171, 82);
    border-radius: 20%;
  }
}

/************************/
@media only screen and (min-width: 600px) {
  .btn_logging {
    width: 10rem;
  }
}
.btn_logging:hover {
  transform: scaley(1.5);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/***************************Home ***********************************/
.cover-home {
  width: 100%;
  /* background-color: #61dafb; */
  background: url(./assets/images/HomeCover.jpg);
  /* background-image: url(./assets/images/HomeCover.jpg); */
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 82vh;
}
.cover-home-opacity {
  background-color: black;
  background-repeat: repeat-x;
  height: 82vh;
  opacity: 0.6;
  width: 100%;
}
.Header-Title {
  font-family: Lobster;
  font-weight: bolder;
}
.books-header {
  padding-top: 10%;
}
.book-header-desc {
  font-size: larger;
  padding-top: 5%;
}
/**********************************SearchBar******************/
.search-name {
  float: left;
}

.search-img {
  float: right;
}
/**************************SideBar****************************/

.side-bar {
  height: 100vh;
}
.side-bar-hover:hover {
  color: rgb(236, 236, 75);
}

/*********************************** forms *****************************/
.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}
/**************************************HomeAuthors***************/
.author-container-Home {
  text-align: center;
  width: 100%;
  height: 5rem;
}

.author-image-Home-right {
  /* float: right; */
  /* margin-top: -2rem;
  margin-right: -1rem; */
}

.author-image-Home-left {
  /* float: left; */
  /* margin-top: -2rem;
  margin-left: -1rem; */
}
.authors-background-image {
  /* background-image: url(./assets/images/HomeCover.jpg); */
  background-image: url(./assets/images/AuthorsCover2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 35rem;
}
.authors-conten {
  margin-top: 5%;
}
@media only screen and (max-width: 379px) {
  .hide-column {
    display: none;
  }
}
/*****************************************************/
.card-item {
  width: 18rem;
}

/*****************************************************/
.wrapper {
  height: 300px;
  width: 300px;
  position: relative;
  border: 5px solid rgb(229, 149, 20);
  border-radius: 50%;
  background: url(./assets/userimages/userlogo.png);
  background-size: 100% 100%;
  overflow: hidden;
}
.file-input {
  position: absolute;
  bottom: 0;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 120px;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.file-input::before {
  content: '\f030';
  font-family: fontAwesome;
  font-size: 50px;
  color: rgb(229, 149, 20);
  display: inline-block;
  -webkit-user-select: none;
}
.file-input::after {
  content: 'Upload';
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  font-size: larger;
}
.file-input:hover {
  opacity: 1;
}

.modal-background {
  /* background: url('./assets/images/44.png');
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}
/****************************************************/

.custom-card-img {
  max-width: 100%;
  display: block;
  transform: scale(1.3);
  transition: all 0.3s ease-out;
}

.ui-card {
  max-width: 100%;
  background: radial-gradient(#111 50%, #000 100%);
  overflow: hidden;
  position: relative;
}
.ui-card:hover .custom-card-img {
  transform: scale(1.1) translateY(-20px);
  opacity: 0.3;
}
.info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.info h3 {
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 20px;
  transform: translateY(30px);
  transition: all 0.3s ease-out;
  opacity: 0;
}
.info p {
  transform: translateY(30px);
  transition: all 0.3s ease-out 0.4s;
  opacity: 0;
}
.info button {
  color: #fff;
  background: #34aff3;
  transform: translateY(30px);
  transition: all 0.3s ease-out 0.4s;
  opacity: 0;
}
.ui-card:hover .info h3 {
  opacity: 1;
  transform: translateY(0);
}
.ui-card:hover .info button {
  opacity: 1;
  transform: translateY(0);
}
.ui-card:hover .info p {
  opacity: 1;
  transform: translateY(0);
}
